In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bilibino,RU,2022-10-10 20:48:19,68.0546,166.4372,11.55,96,100,4.47
1,1,Clyde River,CA,2022-10-10 20:48:20,70.4692,-68.5914,19.63,79,40,16.11
2,2,Souillac,MU,2022-10-10 20:48:20,-20.5167,57.5167,71.98,78,40,6.91
3,3,Rikitea,PF,2022-10-10 20:48:21,-23.1203,-134.9692,72.19,73,2,9.57
4,4,Nome,US,2022-10-10 20:48:21,64.5011,-165.4064,30.27,80,100,3.44

In [3]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# add a center and zoom level for the map to adjust the zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Arraial Do Cabo,BR,2022-10-10 20:48:22,-22.9661,-42.0278,75.06,83,40,4.61
9,9,Hilo,US,2022-10-10 20:45:51,19.7297,-155.0900,88.29,72,40,8.01
19,19,Atuona,PF,2022-10-10 20:48:27,-9.8000,-139.0333,76.51,69,12,13.06
24,24,Butaritari,KI,2022-10-10 20:48:29,3.0707,172.7902,82.00,73,95,13.27
27,27,Tiarei,PF,2022-10-10 20:48:31,-17.5333,-149.3333,80.62,78,21,15.30
30,30,Vaini,TO,2022-10-10 20:45:55,-21.2000,-175.2000,75.36,83,40,19.57
31,31,Kudahuvadhoo,MV,2022-10-10 20:48:32,2.6708,72.8944,81.21,79,35,20.27
32,32,Gamba,GA,2022-10-10 20:48:32,-2.6500,10.0000,76.57,88,89,4.92
36,36,Ciudad Bolivar,VE,2022-10-10 20:48:34,8.1222,-63.5497,87.98,56,87,8.72
37,37,Hobyo,SO,2022-10-10 20:48:34,5.3505,48.5268,77.34,87,61,22.24

In [12]:
# find out if there are any null values using the count() method. if there were null values, you would use the dropna() method
# at the end of the filtering statement and when creating the new dataframe
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. Do this by 
# copying the preferred_cities_df and then adding a column "Hotel Name"
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
6   Arraial Do Cabo      BR     75.06 -22.9661  -42.0278
9              Hilo      US     88.29  19.7297 -155.0900
19           Atuona      PF     76.51  -9.8000 -139.0333
24       Butaritari      KI     82.00   3.0707  172.7902
27           Tiarei      PF     80.62 -17.5333 -149.3333
30            Vaini      TO     75.36 -21.2000 -175.2000
31     Kudahuvadhoo      MV     81.21   2.6708   72.8944
32            Gamba      GA     76.57  -2.6500   10.0000
36   Ciudad Bolivar      VE     87.98   8.1222  -63.5497
37            Hobyo      SO     77.34   5.3505   48.5268

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# iterate through the dataframe
for index, row in hotel_df.iterrows():
    
    # get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Arraial Do Cabo,BR,75.06,-22.9661,-42.0278,Pousada Porto Praia
9,Hilo,US,88.29,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Atuona,PF,76.51,-9.8000,-139.0333,Villa Enata
24,Butaritari,KI,82.00,3.0707,172.7902,Isles Sunset Lodge
27,Tiarei,PF,80.62,-17.5333,-149.3333,Le Rocher de Tahiti
30,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
31,Kudahuvadhoo,MV,81.21,2.6708,72.8944,Niyama Private Islands Maldives
32,Gamba,GA,76.57,-2.6500,10.0000,
36,Ciudad Bolivar,VE,87.98,8.1222,-63.5497,Hotel Edi
37,Hobyo,SO,77.34,5.3505,48.5268,Halane Hotel and Restaurent

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))